*{
 text-align: center;
 
}

.button1 {
  padding: .5rem .5rem;
  width: 10vw;
  height: 10vh;
 

 
  border-radius: 20px;
  background-color: rgb(209, 233, 225);
  cursor: pointer;
  border: yellow;

}

