*{
 text-align: center;
 
}

.button1 {
  padding: .5rem .5rem;
  width: 10vh;
  height: 10vh;
  margin: .3rem;

 
  border-radius: 20px;
  background-color: rgb(209, 233, 225);
  cursor: pointer;
  border: yellow;

}
img {
 width: 8vh;
 height: 8vh;
}

